# Ignore all files/folders in the root by default
/*

# Allow tracking of only the extension folder, README, and .gitignore
!.gitignore
!README.md
!zen-code-ambience/
!zen-ambiator.ps1
!zen-ambiator.zsh
!zen-ambiator-macos.command
!zen-ambiator-macos.app/
!vscode-extension/
!docs/
!extension/
!INSTALL.md
